<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>860570541881-ed4p7e8rd2htj7mmvolnpbuahuvg750b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.860570541881-ed4p7e8rd2htj7mmvolnpbuahuvg750b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>860570541881-nlj6j55vlgjfqsoj0oj7hnrqfjjravb3.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBw1NXT_ufLkH38NkQTbm8miKI2aqyJk8</string>
	<key>GCM_SENDER_ID</key>
	<string>860570541881</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.application.beautyshot</string>
	<key>PROJECT_ID</key>
	<string>beauty-shot</string>
	<key>STORAGE_BUCKET</key>
	<string>beauty-shot.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:860570541881:ios:ff8f15c7fc109c204792e8</string>
</dict>
</plist>